


    ion-toolbar{
        --background: #f48b36;
        color:#fff;
    }

    .header-search-content{
        padding-top:35px;
        background: #f48b36;
        width: 100%;
        color:#ffff;
        padding-left: 5px;
        padding-bottom: 15px;
         display: block !important;
    }

    .header-search-content p{
        margin-top:0px;
        margin-bottom: 5px !important;
    }

    .mg-bottom-15 {
        margin-bottom: 15px;
    }

    .btn-view-more {
        --background: #f48937;
        color: #fff;
        border-radius: 0px;
        --border:none;
        --padding-top: 1px;
        --padding-bottom: 1px;
        --box-shadow: none;
        margin-top:10px;
        --padding-start: .90em;
        --padding-end: .90em;
        text-transform: none;
        height: 28px;
    }
    
    .main-container{
        padding-top:0px;
        top: -5px;
        position: relative;
    }
    .header-search-content h6{
        padding-top:0px;
        margin-top:0px;
        font-size:12px;
    }
    .search-bar-container{
        width:100%;
        display: block !important; 
    }
    .home-search-bar{
        position:relative;
        top:-25px;
        width:100%;
      
    }


    .slider-image{
        background:#fff;
        border-radius: 13px;
        padding-top:15px;
        padding-bottom:15px;
        color:#9c9c9c;
        margin-right:15px;
        box-shadow: 2px 2px  #d6d6d6;
        width:137px;
    }
    
    .image{
      padding:0px;
      padding-top:5px;
      height: 63px;
      margin-bottom:2px;
    }


    ion-slide{
        width:150px  !important;
        padding-top:0px !important;
        margin-top:0px;
        height: 100%;
        --padding-left:0px;
        --padding-right:0px;
    }

    .swiper-wrapper {
       
        height: 0px !important;
        padding-top:0px;

    }

    ion-searchbar{
       --border-radius:5px;
    }

    .categories-header {
        display: flex;
        justify-content: space-between;
    }

    .categories-header h4 {
        font-size: 13pt;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .view-all-categories {
        margin-right: 0px;
        color: #f68936;
        font-size: 16px;
        text-decoration: none;
    }
    .latest-ad {
        margin-bottom: 15px;
        background: #fff;
        padding-bottom: 20px;
        border-radius: 8px;
        padding: 0px;
        box-shadow: 2px 2px #d6d6d6;
    }
    .latest-ad img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .ad-details {
        background: #fff;
        box-shadow: 0 4px 2px -2px #d2d2d2;
        margin-bottom: 10px;
    }
    
    .ad-details {
        padding-top: 5px;
        padding-left:5px;
        padding-bottom:10px;
    }
    
    .ad-details p {
        margin-top: 0px;
        margin-bottom: 1px;
    }
    
    .ad-details p {
        margin-top: 0px;
        margin-bottom: 1px;
    }
    
    .ad-details p {
        margin-top: 0px;
        margin-bottom: 1px;
    }
    
    .home-page-price {
        color: #f48937;
    }
    .ad-location-home {
        font-size: 12px;
        color: #8f8f8f;
    }
    
    .mg-bottom-15 {
        margin-bottom: 15px;
    }
    .btn-view-more {
        background: #f48937;
        color: #fff;
        border-radius: 0px;
        padding-top: 1px;
        padding-bottom: 2px;
        
    }
    

