


    ion-toolbar{
        --background: #f48b36;
        color:#fff;
    }

    .header-search-content{
        background: #f48b36;
        width: 100%;
        color:#ffff;
        padding-left: 5px;
        
    }
    .header-search-content p{
        margin-bottom: 5px !important;
       
    }
    .header-search-content h6{
        padding-top:0px;
        margin-top:0px;
        font-size:12px;
    }


